<!DOCTYPE html>
<html>
    <head>
        <title>Ankylo</title>
    </head>
    <body>
        <h1>Ankylo</h1>

        <input type="password" id="login" placeholder="Enter password">
        <button onclick="loginUser()">Login</button>

        <input id="name" placeholder="Entry name">
        <input id="apiKey" placeholder="API key">
        <button onclick="addEntry()">Add</button>

        <ul id="list"></ul>

        <script src="{{url_for('static', filename='../static/renderer.js') }}"></script>
    </body>
</html>